<div class="container splash-wrapper">
    <div class="splash-container">
        <div class="splash-title pt-4">
            <h4>Welcome to</br>
            </h4>
            <h1>DONA<span class="care">CARE</span> </br>
            APP
            </h1>
        </div>
        <div>
        <p class="text-white"> Creating transparency on the food crisis</br>
        management and response </p>
        </div>

        <div class="homepage-buttons">

            <div class="login-btn text-center mb-5">
                <button class="btn btn-primary login-splash-btn login-splash">
                <%= link_to "LOG IN", new_user_session_path, class:"login-splash"%>
                </button>
            <p>
            <%= link_to "Forgot your password?", new_user_password_path,class:"password"%>
            </p>
            </div>

            <div class="login-btn text-center">
                <button class="btn btn-primary login-splash-btn signup-splash">
                <%= link_to "SIGN UP", new_user_registration_path, class:" signup-splash" %>
                </button>
            </div>

        </div>

        </div>

    </div>

</div>